@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.inter-tight-100 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.inter-tight-200 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.inter-tight-300 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-tight-400 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-tight-500 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-tight-600 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-tight-700 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-tight-800 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.inter-tight-900 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


:root {
    --main-text-color: #252526;
    --secondary-text-color: #444444;
    --background-color: #ffffff;
    --line-color: #eeeeee;
    background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: #ffffff;
        --secondary-text-color: #eeeeee;
        --background-color: #252526;
        --line-color: #444444;
        background-color: var(--background-color);
    }
}

body {
    max-width: 50em;
    margin : 0 auto;
}

body {
    color: var(--main-text-color);
}

* {
    font-family: 'Inter Tight', sans-serif;
    color:var(--main-text-color);
}

h1, .h1 {
    margin: 0;
}

#author {
    font-size: 0.8em;
    color: var(--secondary-text-color);
}

.details {
    border-bottom: 1px solid var(--line-color);
}